Repository reactioncommerce/reaction, pull requests merged in 2019-12, with the labels that each got.

#5848 feat: Add Accounts GraphQL query to find non-admin accounts
  src/core-services/account/queries/accounts.js
  src/core-services/account/queries/index.js
  src/core-services/account/resolvers/Account/index.js
  src/core-services/account/resolvers/Query/accounts.js
  src/core-services/account/resolvers/Query/index.js
  src/core-services/account/schemas/account.graphql
  tests/integration/api/queries/account/__snapshots__/accounts.test.js.snap
  tests/integration/api/queries/account/accounts.test.js
  tests/integration/api/queries/account/accountsQuery.graphql
Labels: graphql

#5846 feat: Update brand assets and parcel size on shop (GQL)
  src/core-services/shop/mutations/updateShop.js
  src/core-services/shop/resolvers/Mutation/updateShop.js
  src/core-services/shop/schemas/schema.graphql
  src/core-services/shop/schemas/updateShop.graphql
  src/core-services/shop/xforms/id.js
  tests/integration/api/mutations/updateShop/UpdateShopMutation.graphql
  tests/integration/api/mutations/updateShop/updateShop.test.js
Labels: graphql

#5844 feat: Shipping (flatRateFulfillmentMethods) query
  src/plugins/shipping-rates/queries/flatRateFulfillmentMethod.js
  src/plugins/shipping-rates/queries/flatRateFulfillmentMethods.js
  src/plugins/shipping-rates/queries/index.js
  src/plugins/shipping-rates/resolvers/FlatRateFulfillmentMethod/index.js
  src/plugins/shipping-rates/resolvers/Query/flatRateFulfillmentMethod.js
  src/plugins/shipping-rates/resolvers/Query/flatRateFulfillmentMethods.js
  src/plugins/shipping-rates/resolvers/Query/index.js
  src/plugins/shipping-rates/resolvers/index.js
  src/plugins/shipping-rates/schemas/schema.graphql
  tests/integration/api/queries/shippingRates/__snapshots__/flatRateFulfillmentMethod.test.js.snap
  tests/integration/api/queries/shippingRates/__snapshots__/flatRateFulfillmentMethods.test.js.snap
  tests/integration/api/queries/shippingRates/flatRateFulfillmentMethod.test.js
  tests/integration/api/queries/shippingRates/flatRateFulfillmentMethodQuery.graphql
  tests/integration/api/queries/shippingRates/flatRateFulfillmentMethods.test.js
  tests/integration/api/queries/shippingRates/flatRateFulfillmentMethodsQuery.graphql
Labels: graphql

#5856 test: add navigation query integration tests
  src/plugins/navigation/schemas/schema.graphql
  tests/integration/api/queries/navigation/__snapshots__/navigationItemsByShopId.test.js.snap
  tests/integration/api/queries/navigation/navigationItemsByShopId.test.js
  tests/integration/api/queries/navigation/navigationItemsByShopIdQuery.graphql
  tests/integration/api/queries/navigation/navigationTreeById.test.js
  tests/integration/api/queries/navigation/navigationTreeByIdQuery.graphql
Labels: graphql, testing

#5859 chore: add integration test for anonymousCartByCartId query
  tests/integration/api/queries/anonymousCartByCartId/AnonymousCartByCartIdQuery.graphql
  tests/integration/api/queries/anonymousCartByCartId/anonymousCartByCartId.test.js
Labels: testing

#5874 test: add Tag query integration test
  src/core-services/catalog/queries/tag.js
  tests/integration/api/queries/tags/TagQuery.graphql
  tests/integration/api/queries/tags/__snapshots__/tag.test.js.snap
  tests/integration/api/queries/tags/tag.test.js
Labels: testing

#5876 test: add updateTag mutation integration test
  src/core-services/tags/mutations/updateTag.js
  tests/integration/api/mutations/updateTag/UpdateTagMutation.graphql
  tests/integration/api/mutations/updateTag/__snapshots__/updateTag.test.js.snap
  tests/integration/api/mutations/updateTag/updateTag.test.js
Labels: testing
